<footer class="footer">
  <div class="footer-content">
    <div class="footer-section footer-about">
      <h3>About Inkspire</h3>
      <p>
        Inkspire is more than just a blog — it’s your personal stage for ideas,
        stories, and creativity to shine. With its clean, modern, and fully
        responsive design, it adapts beautifully to any screen, making your words
        look as captivating as they feel.
      </p>
      <p>
        Perfect for bloggers, storytellers, and creative minds, Inkspire transforms
        every post into an immersive experience. Whether you’re penning heartfelt
        essays, showcasing your artistry, or sharing fresh perspectives, this is
        where your voice truly comes alive.
      </p>
      <p>
        Here, your stories find a home where design meets inspiration.
      </p>
      
      <div class="footer-social">
        <a href="#"
          ><img width="20px" src="images/twitter-svgrepo-com.svg" alt="Twitter"
        /></a>
        <a href="#"
          ><img
            width="20px"
            src="images/facebook-svgrepo-com.svg"
            alt="Facebook"
        /></a>
        <a href="#"
          ><img
            width="20px"
            src="images/instagram-svgrepo-com.svg"
            alt="Instagram"
        /></a>
        <a href="https://github.com/adityapaul26/inkspire"
          ><img width="20px" src="images/github-svgrepo-com.svg" alt="GitHub"
        /></a>
      </div>
    </div>

    <div class="footer-section footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>

    <div class="footer-section footer-contact">
      <h3>Get In Touch</h3>
      <p><strong>Email:</strong><br />adityapaul2603@gmail.com</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      &copy; 2024 Massively. Design by
      <a href="https://html5up.net">HTML5 UP</a>. All rights reserved.
    </p>
  </div>
</footer>
